@tailwind base;
@tailwind components;
@tailwind utilities;


    .container{
        width: 100%;
        margin:  0 auto;
        padding: 0 3rem;
    }

    html{
        scroll-behavior: smooth;
        scroll-padding-top: 5rem;
    }

    @layer components{
        
        .burger_btn{
            @apply lg:hidden
        }

        .burger_btn span{
            height: .2rem;
            width: 1.4rem;
            background-color: white;
            display: block; 
        }

        .burger_btn.open span:nth-child(1){
            @apply translate-x-0 translate-y-[10px] rotate-[225deg] ease-out duration-[1s];
        }

        .burger_btn span:nth-child(2){
           margin: .2rem 0;
        }

        .burger_btn.open span:nth-child(2){
            @apply opacity-0
         }
        

        .burger_btn.open span:nth-child(3){
            @apply translate-x-0 translate-y-[-4px] rotate-[-225deg] ease-out duration-[1s];
        } 

        nav{
            @apply ease-in duration-[.5s] top-[5rem] bg-[#050505] p-2 rounded-[1s] lg:bg-[#000000] 
        }

        nav ul li a {
            @apply text-white text-[.8rem] flex flex-col place-items-center lg:flex-row lg:gap-3 
        }

        nav ul li a i {
            @apply p-[.9rem] rounded-[50%] text-[1.2rem] lg:text-[.6rem] lg:p-[.6rem]
        }
        nav.open{
            @apply  block ease-in duration-[.5s] right-[1.2rem] rounded-[.5rem] pt-[1.3rem] pb-[1.3rem] pl-[.6rem] pr-[.6rem]
        }


        ul li {
            @apply flex flex-col place-items-center
        }

        ul li i {
            @apply bg-white 
        }

        .banner-icons ul a i{
            @apply text-black mb-5 outline-[black]
        }
        
        .banner{
            background: rgb(255,215,0);
            background: linear-gradient(30deg, rgba(255,215,0,1) -10%, rgba(0,0,0,1) 40%);
        }

        .btn{
            @apply bg-white inline-block p-2 pl-10 pr-10 rounded-[5rem]
        }

        .tns-outer button, [role='stop']{
            @apply hidden
        }

        .card{
            background: rgb(255,215,0);
            background: linear-gradient(30deg, rgba(255,215,0,1) -100%, rgba(0,0,0,1) 60%);
        }

        .card{
            @apply rounded-[.5rem] p-[1rem]
        }
        .mini-card{
            @apply bg-white flex place-content-center rounded-[.4rem] p-4
        }

        form{
            @apply mt-6
        }

        form input{
            @apply  w-[100%] p-2  stroke-[A5A5A5] drop-shadow-lg outline-none
        }   
       
        form input:nth-child(2){
            @apply mt-5 mb-5
        }

        .contact .btn a {
            background: rgb(255,215,0);
            background: linear-gradient(80deg, rgba(255,215,0,1) 0%, rgba(0,0,0,1) 90%);
        }
        .contact .btn a{
            @apply  pt-2 pb-2 pr-5 pl-5 rounded-[2rem] text-white
        }

        .project-slider div img{
            @apply lg:w-[100%] lg:h-[100%]
        }

        .mini-card{
            background: rgb(255,215,0);
            background: linear-gradient(30deg, rgba(255,215,0,1) -100%, rgba(0,0,0,1) 60%);
            /* background: linear-gradient(-190deg, rgba(255,215,0,1) -50%, rgba(0,0,0,1) 60%); */
            @apply lg:w-[6.5rem] lg:h-[5.5rem] 
        }

        .mini-card img{
            @apply w-[2.5rem] lg:w-[3rem]
        }

        .contact-row i{
            @apply lg:text-[1.2rem]
        }
        .contact p{
            @apply lg:text-[1rem]
        }
        .contact-row:nth-child(2){
            @apply lg:pt-[2rem] lg:pb-[2rem]
        }

        .contact-icon ul a{
            @apply lg:text-[1.6rem] 
        }
        
       
    }